#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inputDiv form {
  height: 8vh;
  position: fixed;
  bottom: 2px;
  background-color: rgb(119, 105, 105);
  width: 100%;
  max-width: 600px;
  min-width: 500px;
  display: flex;
  font-size: 1.5rem;
}
.inputDiv form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

.inputDiv input {
  line-height: 1.5;
  width: 85%;
  font-size: 1.2rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  height: 8vh;
}

header {
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  max-width: 600px;
  width: 100%;
  min-width: 500px;
  height: 5vh;
  padding: 20px;
  z-index: 10;
}

.addGp input {
  line-height: 1.5;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  height: 8vh;
}
.addGp button {
  width: 30%;
  height: 10vh;
  text-align: center;
}
